.portafolioContainer{
    /* width: 85%; */
    margin:20px auto 0;
    font-family: 'Montserrat';
    text-align: center;
    padding: 20px 0;
}

 .tituloPortafolio{
    font-size: 4rem;
    font-family:'Montserrat' ;
    text-transform: uppercase;
    color:white; 
    text-shadow: 0 0 30px var(--fm);
 }

 .galeriaEav{
    width:100%;
    display: flex;
    margin: 0px auto;
    padding:40px 0;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: white;

  
}
.eavgallery{
    width: 20%;
    object-fit: cover;
    margin: 10px 10px;
    cursor: pointer;
    transition: 0.5s;
}

.galeriaEav :hover  {
    transform: scale(1.35);
}

.textoGaleriaEav{
    background-color:rgb(255, 255, 255);
    display: flex;
    padding:20px;

}

.logoeav{

    width: 33%;
}
.txt{
    margin-right: 20px;
    text-align: left;
    width: auto;
    

}
b{
    color: var(--fm)
}
.adress{

    text-decoration: none;
    color:var(--fm);
    font-weight: 600;
    
}
.adress:hover{
    color:var(--fc);

}

.ultimosTrabajos{
    padding: 30px 0;

}
.subtitle{
font-family: 'Cedarville Cursive', cursive;
color: var(--fm);
font-size: 2rem;
}
.intro{
 color: white;

}