.aboutContainer{
    /* width: 85%; */
    margin:20px auto;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--go);
    border-bottom: 2px solid var(--fo);
   
   
}


.linkytituloAbout{
    text-align: center;
    padding:30px 0;
    background-color:var(--go);
    border-top: 2px solid var(--fo);
}

.linkAbout{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    color:var(--fo);
    text-transform: capitalize;
    font-family: 'Cedarville Cursive', cursive;
}

.linkAbout:hover{
    color:var(--fm); 
}

.subtituloAbout{
    color: white;
    text-shadow: 0px 0px 5px var(--fm) ;
    text-align: center;
    font-family:'Montserrat', sans-serif ;
    text-transform:uppercase;
    font-size: 1.5rem;
}




.mepresento{
    display: flex;
    align-items: center;
    margin: 0 auto;
    
    
}


.hi{
    width: 70%;
    padding: 20px;
    margin:0 10px;
    font-size: 1.2rem;
    line-height: 1.8 ;
    text-align: justify;
    font-family:'Montserrat', sans-serif ;
    font-weight: 100;
    color:var(--fcc);
    
   
    
}


.nombre{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 1.7rem;
    color:var(--fm)

}


.experiencia{
    margin:0 auto;
    border-radius:100px;
    height: 300px;
    width:20%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px var(--fm);
    line-height: 0.8 ;
    background-color:var(--go);
    
    
}

.veintidos{
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    font-weight: 600;
    padding-bottom: 10px;
    text-shadow: 0 0 20px var(--fm);
    color:var(--go) ;
}
.anios{
    font-family: 'Montserrat', sans-serif;
    width: 200px;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
    font-size: 1rem;
    
    color: var(--fo);
    
}
.exp{

    font-family: 'Cedarville Cursive', cursive;
    
    font-size: 2rem;
    color: var(--fc);
}


table{
    
    width: 98%;
    justify-content:space-between;
    margin:15px auto 0;

}

th, td{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

th{
    font-weight: 100;
    font-size: 0.8rem;  
    color:var(--fm) 
}

td{
    font-weight: 600;
    font-size: 0.9rem;
    color:var(--fcc) 
}


@media (max-width:450px){

    .mepresento{
        flex-direction: column;
        padding-bottom: 20px;
    }
    .hi{
        width: 100%;
    }
    .experiencia{
        width: 60%;
        
    }

    

    .sobremi{
        display:none
    }
}


    
@media (min-width:451px) and (max-width:767px){

    .mepresento{
        flex-direction: column;
        padding-bottom: 20px;
    }
    .hi{
        width: 100%;
    }
    .experiencia{
        width: 45%;
        
    }

    .sobremi{
        display:none
    }
}

@media (min-width:768px) and (max-width:992px){

    .experiencia{
        width: 30%;

}


}
