.headerContainer{
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 5px 5px;
  background-color:var(--go);
  
  }

  


  @media(max-width:450px){
    .headerContainer{
      width: 94%;
    }

    
  }


  @media (min-width:451px) and (max-width:767px){
    .headerContainer{
      width: 95%;
    }


  }



  /* @media (min-width:768px) and (max-width:992px) */
  



  
