
.tituloContact{
    font-size: 4rem;
    font-family:'Montserrat' ;
    text-transform: uppercase;
    color:white; 
    text-shadow: 0 0 30px var(--fm);
    text-align: center;
    
    padding-top: 20px;
 }