.heroContainer{
    margin: 40px auto;
    background-color: var(--go);
    padding: 20px;

    display: flex;
    justify-content:space-around;

    align-items: center;
    

}

.textoYbotonHero{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: space-between;
    background-color:var(--go);
    
}

.fotohero{
    width: 30%;
    display: flex;
    
}

.fotoPerfil{
    width: 100%;
    border-radius: 200px 200px 0px 0px;
    /* box-shadow: 1px 1px 10px var(--fm); */
}

.herotitle{
   
    font-size:5rem;
    font-family:'Montserrat' ;
    text-transform: uppercase;
    color:rgb(255, 255, 255); 
    text-shadow: 0 0 30px var(--fm);
}


h2{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color:var(--fm);
    
}

p.lugar{
    font-family:'Cedarville Cursive' ;
    color:var(--fo);
    font-size: 1.5rem;
}


.botoneraHero{
    display: flex;
    justify-content:flex-start;
    margin-top:40px; 
}

.herobutton{
    cursor: pointer;
    background-color:transparent;
    color:white;
    padding-bottom: 3px;
    margin-right: 45px;
    text-align: center;
    font-family: 'Montserrat' ;
    font-weight: 100;
    border-left: 0.5px  solid var(--fo);
    border-right: 0.5px  solid var(--fo);
    border-top:0.5px  solid var(--go);
    border-bottom:0.5px  solid var(--go);
    padding:0 10px;
    
}

.herobutton:hover{
    color:var(--fc);
}