*{
  list-style-type: none;
}

.navContainer{
 
display: flex;
padding-bottom: 3px;


}

ul{
 
  margin:0 auto;
  display:flex;
 
}

.menu{ 
   
    color:white;
    margin: 0 8px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 0.8rem;
    text-transform:uppercase;
    text-decoration: none;
   
  }

  

.menu:hover{
    color:var(--fc);
  }

