*{
  list-style-type: none;
}

.navContainer{
  
  align-items:center;
  
}

ul{
  margin:0 auto;
  display:flex;
  justify-content:space-between;
 
}

.menu{ 
   
    color:white;
    margin: 0 8px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 0.8rem;
    text-transform:uppercase;
    text-decoration: none;
    
  }

  

.menu:hover{
    color:var(--fc);
  }

