.serviciosContainer{
    /* width: 85%; */
    margin:20px auto 0;
    padding: 20px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    background-color:var(--gc);
    
}

.linkytituloServicios{
    text-align: center;
    padding:30px 0;

}

.linkServicios{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    color:var(--fo);
    text-transform: capitalize;
    font-family: 'Cedarville Cursive', cursive;
}

.linkServicios:hover{
    color:var(--fm); 
}

.subtituloServicios{
    color:var(--fo);
    text-shadow: 0px 0px 5px var(--fc) ;
    text-align: center;
    font-family:'Montserrat', sans-serif ;
    text-transform:uppercase;
    font-size: 1.5rem;
}




.grilla{
    
    display: flex;
    margin-top: 0 auto;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    font-family: 'Montserrat';
    
}


.pgrilla{
    color:var(--go)
}
.grillainterior{
    width: 30%;
    text-align: center;
 
    
}
b{
    color: var(--gm);
}

.internal{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
   

}
.interTitle{
   
    text-transform: uppercase;
    text-align: center;
    font-size:1.2rem;
    font-weight: 600;
    
    color: var(--fm);
    
}

.dolor{ 
    display: flex;
    height: 80px;
    
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.pdolor b{
    
    font-size:1rem;
    color: var(--fo);
}

.Icon{
    color: var(--fo);
    font-size: 3rem;
    padding: 10px 0;
    
}
.Icon:hover{
    color:var(--fm)
}