
.socialmedia{
    display: flex;
    flex-direction: column; 
   
  }

.icono{
    color: var(--fc);
  }

.icono:hover{
    color:var(--fm)
  }


  @media (max-width:450px){
    .socialmedia{
      display:none;
    }
  }